@model IEnumerable<NetworkInventory.WebApp.Models.ConnectivityItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Connectivity Item</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CableType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeystoneCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SfpType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CableType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeystoneCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PortCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SfpType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
